*:not(body):not(html) {
  box-sizing: border-box;

}

/*.wrap {
  width: 100%;
}*/
img {
  height: 50%;
  width: 100%;
}

a {
  color:grey;
}

.nav {
  min-height: 200px;
  width: 100%;
  background-color: blue;
  text-align: center;
  color: white;
}

.main {
  min-height: 400px;
  width: 100%;
  background-color: red;
  text-align: center;
  color: white;
  margin-bottom: 5px;
}

.left-column {
  min-height: 150px;
  background-color: yellow;
  text-align: center;
  color: black;
}

.right-column {
  min-height: 150px;
  background-color: green;
  text-align: center;
  color: white;
}

@media screen and (min-width: 600px) {

  .nav {
    display: none;
  }
  .main {
    height: 20%;
    width: 100%;
  }
  a {
    display:inline-flex;
    color:grey;
  }
  .right-column {
    float: right;
    height: 60%;
    width: 49.5%;
  }
  .left-column {

    float: left;
    height: 60%;
    width: 49.5%;
  }
  img {
    height: 90%;
    width: 100%;
  }
@media screen and (min-width: 1100px) {
  .nav {
    display: none;
  }
  .main {
    float: left;
    height: 1100px;
    width: 66%;
  }
  a {
    display:block;
    color:black;
  }
  .left-column {
    float: right;
    height: 530px;
    width: 33%;
  }
  .right-column {
    float: right;
    height: 530px;
    width: 33%;
    margin-top: 5px;
  }
  img {
    height: 90%;
    width: 100%;
  }


}
